extends layout
block content
    .container
        //
             BEGIN SIDEBAR & CONTENT
        .row.margin-bottom-40
            //
               BEGIN CONTENT
            .col-md-12.col-sm-12
                .content-page.page-404
                    .number
                        img(src='/assets/img/deadtree.jpg')
                    .details
                        h3 Üzgünüz
                        p
                            | Az önce bir ağacı baltaladınız!
            //
               END CONTENT
        //
           END SIDEBAR & CONTENT
