extends layout
block content
    .container
        //
             BEGIN SIDEBAR & CONTENT
        .row.margin-bottom-40
            //
               BEGIN CONTENT
            .col-md-12.col-sm-12
                .content-page.page-404
                    .number
                        img(src='/assets/img/savedtree.jpg')
                    .details
                        h3 Tebrikler
                        p
                            | Az önce #{savedTree} ağaç kurtardınız!
            //
               END CONTENT
        //
           END SIDEBAR & CONTENT


